.years-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.year {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    justify-content: space-around;
    border-radius: 50%;
    line-height: 50px;
}

.year .red {
    height: 50px;
}

@media (max-width: 480px) {
    .year {
        font-size: 16px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 4px 9px;
    }
}