.days-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.days {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    margin: 6px auto;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    line-height: 25px;
}

.inactive {
    color: #eeeeee;
}

.red {
    background-color: #db3d44;
    font-weight: 500;
    color: white;
}

.today {
    color: #db3d44;
}